/* -----------------------------------------------
    Palette
-------------------------------------------------- */

// use expample: color: palettes(white);
$palettes:(
    default: (
        dark:             #000000,
        light:            #FFFFFF,
    ),
    system: (
        error:            red,
        warning:          yellow,
        success:          green,
    ),
    gray: (
        default:          #333333,
        light:            #3C3C3C,
    ),
    colors: (
        violet:           #682D81,
        red:              #E8533C,
        orange:           #EE8309,
        green:            #89CA4B,
        dark-green:       #089E77,
        turquoise:        #34C3C4,
    )
);
