/* -----------------------------------------------
    Settings
-------------------------------------------------- */

/*
Extra small devices    Small devices       Medium devices      Large devices
Phone (<480px)        Tablet (≥768px)    Desktop (≥1024px)   Desktop-wide (≥1200px)
*/

// Breakpoint
$breakpoints: (
    "phone":          480px,
    "tablet":         768px,
    "desktop":        1024px,
    "desktop-wide":   1200px
);

// Sizes
$size-xs:                       10px;
$size-sm:                       20px;
$size-md:                       40px;
$size-lg:                       60px;

$height-xs:                     $size-xs;
$height-sm:                     $size-sm;
$height-md:                     $size-md;
$height-lg:                     $size-lg;

// color
$color-primary:                palette(default, light);
$color-secondary:              palette(gray);
$color-brand:                  palette(default, light);

// Logo
$logo-iso:                     $size-lg;

// Z-index
$z-xs:                         1;
