/* -----------------------------------------------
    Fonts
-------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Catamaran:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$font-primary:                'Catamaran', sans-serif;
$font-secondary:              'Oswald', sans-serif;
$font-tertiary:               'Roboto', sans-serif;

$font-base-size:               14px;
