/* -----------------------------------------------
    Fonts
--------------------------------------------------

// var

-------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

$font-primary:                 'Raleway', sans-serif;
$font-secondary:               'Indie Flower', cursive;

$font-base-size:               14px;
