<section class="m-header section-secondary">
    <header data-layout>
        <h2 class="heading-1">{{ title }}</h2>
        <p class="ui-margin-none ui-text-center2right ui-padding-top-xs">
            <button data-btn="primary border" type="button" name="login">Learn More</button>
        </p>
    </header>
</section>

<section class="section-secondary">
    <article data-layout class="ui-padding-vertical-sm">
        <blockquote>{{ subtitle }}</blockquote>
    </article>
</section>

<section class="section-primary">
    <article data-layout class="ui-padding-top-lg ui-padding-bottom-md">
        <h3>GLOBAL REACH</h3>
        <hr data-aos="fade-up" data-aos-delay="30">
        <p data-aos="fade-up" data-aos-delay="30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum neque, asperiores, molestias, eveniet eius assumenda nisi dolores, optio quibusdam recusandae omnis aspernatur expedita. Officiis, eaque temporibus sunt nobis tempore! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum neque, asperiores, molestias, eveniet eius assumenda nisi dolores, optio quibusdam recusandae omnis aspernatur expedita. Officiis, eaque temporibus sunt nobis tempore. Lorem ipsum dolor sit amet!</p>
        <p data-aos="fade-up" data-aos-delay="30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum neque, asperiores, molestias, eveniet eius assumenda nisi dolores, optio quibusdam recusandae omnis aspernatur expedita. Officiis, eaque temporibus sunt nobis tempore! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum neque, asperiores, molestias, eveniet eius assumenda nisi dolores, optio quibusdam recusandae omnis aspernatur expedita. Officiis, eaque temporibus sunt nobis tempore. Lorem ipsum dolor sit amet!</p>
        <hr data-aos="fade-up" data-aos-delay="30">
    </article>
</section>

<parallax></parallax>

<section class="section-primary">
    <article data-layout class="ui-padding-top-lg">
        <h3>SELF SERVICE</h3>
        <hr data-aos="fade-up" data-aos-delay="30">
        <p data-aos="fade-up" data-aos-delay="30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum neque, asperiores, molestias, eveniet eius assumenda nisi dolores, optio quibusdam recusandae omnis aspernatur expedita. Officiis, eaque temporibus sunt nobis tempore! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum neque, asperiores, molestias, eveniet eius assumenda nisi dolores, optio quibusdam recusandae omnis aspernatur expedita. Officiis, eaque temporibus sunt nobis tempore. Lorem ipsum dolor sit amet!</p>
        <hr data-aos="fade-up" data-aos-delay="30">
    </article>
</section>
