/* -----------------------------------------------
    Button
-------------------------------------------------- */

[data-btn]{
    @extend %heading-6;

    background-color: transparent;
    padding: {
        top: 6px;
        bottom: 3px;
        left: $size-xs;
        right: $size-xs;
    }
}

[data-btn~="primary"]{
    @include font-source(null, $font-base-size, 500, 2);

    color: palette(default, light);

    &[data-btn~="border"]{
        border: 1px solid palette(default, light);
        border-radius: 15px;
    }
}
[data-btn~="secondary"]{
    color: palette(gray);
}
