/* -----------------------------------------------
    Helpers
--------------------------------------------------

// var

-------------------------------------------------- */
.brand,
a.brand {
    color: $color-brand;
}

.c-primary,
a.c-primary {
    color: $color-primary;
}

.c-secondary,
a.c-secondary {
    color: $color-secondary;
}

// trucate
.truncate {
    @include truncate;
}
.no-truncate {
    white-space: normal;
}

%block-mh100 {
    @extend %ui-full-minheight;

    display: block;
}
