/* -----------------------------------------------
    Helpers
-------------------------------------------------- */

.c-brand,
a.c-brand {
    color: $color-brand;
}

.c-primary,
a.c-primary {
    color: $color-primary;
}

.c-secondary,
a.c-secondary {
    color: $color-secondary;
}

// trucate
.truncate {
    @include truncate;
}

// Overlay
%overlay {
    &:after {
        @extend %ui-absolute;
        @extend %ui-absolute-full;

        content: '';
        z-index: 0;
    }

    > * {
        @extend %ui-relative;

        z-index: $z-xs;
    }
}
