/* -----------------------------------------------
    Mixins
-------------------------------------------------- */

// Truncate
@mixin truncate() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// V-align
@mixin v-align(){
    display: table;
    width: 100%;

    @content;

    > * {
        display: table-cell;
        vertical-align: middle;
    }
}

@mixin vertical-align($position: absolute) {
    @include transform(translateY(-50%));
    @extend %ui-full-width;

    position: $position;
    top: 50%;
}

// mediaqueries
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);

        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

// Aspect ratio
@mixin aspect-ratio($width, $height) {
    position: relative;

    &:before {
        content: "";
        display: block;
        padding-top: ($height / $width) * 100%;
        width: 100%;
    }

    > img {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

// Fonts
// @include font-source(16px, 500, 1);
@mixin font-source($family: $font-primary,$size: false, $weight: false, $lh: false, $colour: false) {
    font-family: $family;
    @if $size { font-size: $size; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
    @if $colour { color: $colour; }
}
