/* -----------------------------------------------
    Scaffolding
-------------------------------------------------- */

* {
    box-sizing: border-box;
}

html,
body {
    @extend %ui-full-height;

    background-color: palette(default, light);
    color: palette(gray);
    font: {
        family: $font-primary;
        size: $font-base-size;
    }
}
