/* -----------------------------------------------
    Scaffolding
-------------------------------------------------- */

* {
    box-sizing: border-box;
}

html,
body {
    @extend %ui-full-height;

    background-color: palette(gray);
    color: palette(gray);
    font: {
        family: $font-primary;
        size: $font-base-size;
    }
}

a {
    &, &:hover {
        outline: none;
    }
}

//
h3 {
    @extend %heading-3;
}
