/* -----------------------------------------------
    Scaffolding
-------------------------------------------------- */

* {
    box-sizing: border-box;
}

html,
body {
    // @extend %ui-full-height;

    background-color: palette(gray);
    color: palette(gray);
    font: {
        family: $font-primary;
        size: $font-base-size;
    }
}

a, button {
    &, &:hover {
        outline: none;
    }
}

hr {
    @extend %ui-margin-vertical-md;
}

blockquote {
    @extend %ui-margin-none;
    @extend %ui-padding-horizontal-md;
    @extend %ui-padding-none-vertical;

    border: none;
    color: palette(default, light);
    font-family: Georgia, serif;
    font-style: italic;
    font-weight: 100;
    line-height: 1.45;
    position: relative;

    &:before {
        display: block;
        color: palette(default, light);
        content: "\201C";
        font-size: 80px;
        left: -5px;
        opacity: 0.5;
        position: absolute;
        top: -($size-sm);
    }
}

// bootstrap
.navbar {
    margin-bottom: 0;

    &-default {
        .navbar-nav {
            > li {
                > a.active {
                    border-radius: 15px;
                    &,
                    &:hover,
                    &:focus {
                        background-color: rgba(palette(default, dark), 0.1);
                        color: rgba(palette(gray, light), 0.7);
                    }

                    @include mq('tablet', max) {
                        border-radius: 0;
                    }
                }
            }
        }
    }
}
