/* -----------------------------------------------
    Nav
-------------------------------------------------- */

.nav {
    @extend %ui-padding-vertical-sm;

    > a {
        color: palette(default, light);
    }

    &-top {
        @extend %ui-text-right;

        @include mq('tablet', max) {
            text-align: center;
        }
    }

    &-middle {
        a.active {
            background-color: rgba(palette(default, dark), 0.1);
            border-radius: 15px;
        }
    }
}
