/* -----------------------------------------------
    Nav
-------------------------------------------------- */

.nav-top {
    @extend %ui-text-right;
    @extend %ui-padding-sm;

    position: fixed;
    right: 0;

    > a {
        color: palette(default, light);
        display: inline-block;
        text-align: right;
    }
}
