<section class="m-header section-secondary">
    <header data-layout>
        <h2 class="heading-1">{{ title }}</h2>
        <h3 class="heading-4">{{ subtitle }}</h3>
    </header>
</section>

<section class="section-primary">
    <article data-layout="pad-lg">
        <h3>ADVERTISING</h3>
        <hr>
        <p>WinClap's awesome technology combines every data point like, device, geo, carrier, behavior, audience, and delivers your rewards to the right user. That user that will bring more revenue and is more likely to be loyal to your site, app or brand. Our algorithm constantly optimizes every reward we deliver based on the last conversion point, like in app event for apps, sales for e-commerce or engagement for branding campaigns.</p>
        <hr>
    </article>
</section>

<section class="section-secondary">
    <article data-layout="pad-lg">
        <img data-aos="fade-in" class="how-img" src="assets/img/how.png" alt="How It Works">
    </article>
</section>

<section class="section-primary">
    <article data-layout="pad-lg">
        <h3>FEATURES</h3>

        <div class="m-features">
            <div data-aos="fade-up" data-aos-offset="0" data-aos-delay="150">
                <h4 class="heading-5"><strong>INCREDIBLY USER FRIENDLY</strong></h4>
                <p>No matter how much you know about mobile ads, winclap is incredibly easy to use. You can start your first campaign without even needing a creative design team.</p>
            </div>
            <div data-aos="fade-up" data-aos-offset="0" data-aos-delay="200">
                <h4 class="heading-5"><strong>MOBILE VIDEO</strong></h4>
                <p>Video will become the no1 ad format in the next few years. This way you can engage your target users in a superior way, with a better experience.</p>
            </div>
            <div data-aos="fade-up" data-aos-offset="0" data-aos-delay="250">
                <h4 class="heading-5"><strong>REAL TIME STATS</strong></h4>
                <p>Transparency. That's all you need when measuring your campaigns results. But we also add a layer of awesome technology, making it very easy to analyze and obtain metrics about your campaigns.</p>
            </div>
            <div data-aos="fade-up" data-aos-offset="0" data-aos-delay="150">
                <h4 class="heading-5"><strong>MOBILE RETARGETING</strong></h4>
                <p>Reach those users you want to get back to your app, in a rewarding way and with that little push they need to become one of your loyal users.</p>
            </div>
            <div class="hidden-xs hidden-sm"></div>
            <div data-aos="fade-up" data-aos-offset="0" data-aos-delay="250">
                <h4 class="heading-5"><strong>AUDIENCE TARGETING</strong></h4>
                <p>Our top DMP integration allows you to target the exact audience you want to reach, with a massive scale.</p>
            </div>
            <div data-aos="fade-up" data-aos-offset="0" data-aos-delay="150">
                <h4 class="heading-5"><strong>WORLWIDE REACH</strong></h4>
                <p>We are connected to every top Ad Exchange, SSP and network, in order to give you the highest quality and reach needed to achieve awesome results.</p>
            </div>
            <div data-aos="fade-up" data-aos-offset="0" data-aos-delay="200">
                <h4 class="heading-5"><strong>RICH MEDIA PARTNERS</strong></h4>
                <p>It's all about the experience. Users are fed up of annoying ads. Our rewards are served using top RichMedia Partners, like Celtra and Sparkflow, to improve severely the user experience when engaging with your brand, app or site.</p>
            </div>
            <div data-aos="fade-up" data-aos-offset="0" data-aos-delay="250">
                <h4 class="heading-5"><strong>END POINT CONVERSION TRACKING</strong></h4>
                <p>We're integrated with every top tracking partner, to maximise transparency. Our Algorithm uses this information to optimise constantly to the last conversion point, generating unique results.</p>
            </div>
        </div>
    </article>
</section>
