<section class="page-child section-secondary">
    <header data-layout>
        <h2 class="heading-1">{{ title }}</h2>
        <h3 class="heading-4">{{ subtitle }}</h3>
    </header>
</section>

<section class="section-primary">
    <article data-layout="pad-lg">
        <h3>ADVERTISING</h3>
        <p>WinClap's awesome technology combines every data point like, device, geo, carrier, behavior, audience, and delivers your rewards to the right user. That user that will bring more revenue and is more likely to be loyal to your site, app or brand. Our algorithm constantly optimizes every reward we deliver based on the last conversion point, like in app event for apps, sales for e-commerce or engagement for branding campaigns.</p>
    </article>
</section>

<section class="section-secondary">
    <article data-layout="pad-lg">
        <img class="how-img" src="assets/img/how.png" alt="How It Works">
    </article>
</section>
