/* -----------------------------------------------
    Home
-------------------------------------------------- */

@import "../../sass/config/common";
@import "../../sass/libs/rotate/index";

.home {
    &-first {
        @extend %ui-relative;
        @extend %ui-text-center;
        @extend %overlay;
        @extend %ui-full-minheight-vh;

        background: {
            repeat: no-repeat;
            color: transparent;
            position: center;
            image: url('assets/img/bg/performance-advertisers.jpg');
            size: cover;
        }

        &:after {
            background: -webkit-linear-gradient(left,
                        rgba(238,131,8,0.5) 0%,
                        rgba(137,202,64,0.5) 33%,
                        rgba(51,195,196,0.5) 66%,
                        rgba(51,195,196,0.5) 100%);
            background: linear-gradient(to right,
                        rgba(238,131,8,0.5) 0%,
                        rgba(137,202,64,0.5) 33%,
                        rgba(51,195,196,0.5) 66%,
                        rgba(51,195,196,0.5) 100%);
        }

        [data-btn] {
            @extend %ui-absolute;

            top: $size-xs;
            right: $size-xs;
        }

        &-wrapper {
            @include v-align;
            @extend %ui-full-minheight-vh;

            p {
                text-shadow: 1px 1px 1px rgba(palette(default, dark), 0.4);
            }
        }
    }

    &-map {
        &-img {
            @include aspect-ratio(16,6);
            @extend %ui-overflow;

            max-height: 380px;

            figure {
                @extend %ui-absolute;
                @extend %ui-absolute-full;

            }

            img {
                @include vertical-align;
                @extend %ui-full-maxwidth;
            }

            figcaption {
                @extend %ui-padding-sm;

                opacity: 0.8;

                h4 {
                    @extend %ui-padding-horizontal-xs;

                    border-left: 3px solid palette(colors, red);
                    font-weight: 500;
                    padding: {
                        top: 5px;
                        bottom: 5px;
                    }
                }

                p {
                    font-weight: 300;
                }
            }
        }
    }
}

// Sticky
.is-sticky {
    @extend %ui-full-width;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;

    & + section {
        padding-top: 90px;

        @include mq('tablet', max) {
            padding-top: 50px;
        }
    }
}

// Arrow down
.arrow-down {
    @extend %ui-absolute;

    bottom: 0;
    right: 0;
    left: 0;
}
