/* -----------------------------------------------
    Home
-------------------------------------------------- */

@import "../../sass/config/common";
@import "../../sass/libs/rotate/index";

.home {
    &-first {
        @extend %ui-relative;
        @extend %ui-text-center;
        
        background: {
            repeat: no-repeat;
            color: transparent;
            position: center;
            image: url('assets/img/bg/performance-advertisers.jpg');
            size: cover;
        }
        min-height: 100vh;

        &:after {
            @extend %ui-absolute;
            @extend %ui-absolute-full;

            content: '';
            background-color: rgba(palette(default, dark), 0.6);
            z-index: 0;
        }

        > * {
            @extend %ui-relative;

            z-index: 1;
        }

        &-wrapper {
            @include v-align;

            min-height: 100vh;
        }

    }
}

.section {
    &-secondary {
        background-color: palette(gray);
        color: palette(default, light);
    }
}

canvas {
    width: 100%;
    height: auto;
    max-width: 850px;
}
