<section class="home-first section-secondary">
    <article data-layout>
        <button data-btn="primary border" type="button" name="login">LOGIN / SIGN UP</button>
        <div class="home-first-wrapper">
            <div>
                <h1 class="ui-margin-auto m-logo m-logo--big bounceInDown animated">
                    <img src="assets/img/logo.svg" alt="Winclap">
                </h1>
                <h2 class="m-rotate">[ <rotate></rotate> ]</h2>
                <p class="fadeIn animated">
                    Reach <strong class="c-brand">99.6%</strong> of the world’s audience <br> with a single login.
                </p>
            </div>
        </div>
    </article>
</section>

<section class="section-tertiary">
    <article data-layout="pad-sm">
        <a routerLink="/how" routerLinkActive="active">HOW IT WORKS</a>
        <a routerLink="/performance" routerLinkActive="active">PERFORMANCE</a>
    </article>
</section>

<section class="section-primary">
    <article data-layout="pad-lg">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum neque, asperiores, molestias, eveniet eius assumenda nisi dolores, optio quibusdam recusandae omnis aspernatur expedita. Officiis, eaque temporibus sunt nobis tempore!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum neque, asperiores, molestias, eveniet eius assumenda nisi dolores, optio quibusdam recusandae omnis aspernatur expedita. Officiis, eaque temporibus sunt nobis tempore!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum neque, asperiores, molestias, eveniet eius assumenda nisi dolores, optio quibusdam recusandae omnis aspernatur expedita. Officiis, eaque temporibus sunt nobis tempore!</p>
    </article>
</section>

<section class="section-secondary">
    <article data-layout="pad-md">
        <h3>PARTNERS</h3>
        <div class="m-partners">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </article>
</section>

<section class="home-map section-secondary">
    <article class="home-map-img">
        <figure>
            <img src="assets/img/mapa.png" alt="Contact">
            <fieldset class="ui-relative" data-layout="pad-sm">
                <p>Bv. San Juan 736</p>
                <p>+540 11 5263 2130</p>
                <p>cordoba@winclap.com</p>
            </fieldset>
        </figure>
    </article>
</section>
