<section class="home-first section-secondary">
    <article data-layout>
        <button data-btn="primary border" type="button" name="login">LOGIN / SIGN UP</button>
        <div class="home-first-wrapper">
            <div>
                <h1 class="m-logo m-logo--big bounceInDown animated">
                    <img src="assets/img/logo.svg" alt="Winclap">
                </h1>
                <p class="fadeIn animated heading-5">
                    making users happy !
                </p>
                <h3 class="m-rotate"><rotate></rotate></h3>
            </div>
        </div>
        <div class="arrow-down">
            <span class="arrow-down bounce animated infinite">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                 width="32.000000pt" height="32.000000pt" viewBox="0 0 128.000000 128.000000"
                 preserveAspectRatio="xMidYMid meet">
                <g transform="translate(0.000000,128.000000) scale(0.100000,-0.100000)"
                fill="#FFFFFF" stroke="none">
                    <path d="M282 831 c2 -5 87 -91 191 -191 l187 -182 188 183 c103 101 189 187
                    190 192 2 4 -2 7 -9 7 -6 0 -93 -79 -191 -176 l-180 -176 -177 176 c-155 153
                    -212 201 -199 167z"/>
                </g>
                </svg>
            </span>
        </div>
    </article>
</section>

<section class="section-primary sticky">
    <nav class="navbar navbar-default nav-middle">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#home-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand m-logo m-logo--small"><img src="assets/img/logo-inv.svg" alt="Winclap"></span>
            </div>

            <div class="collapse navbar-collapse" id="home-navbar">
                <ul class="nav navbar-nav">
                    <li><a routerLink="/" routerLinkActive="active">HOME</a></li>
                    <li><a routerLink="/how" routerLinkActive="active">HOW IT WORKS</a></li>
                    <li><a routerLink="/performance" routerLinkActive="active">PERFORMANCE</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</section>

<section class="section-secondary">
    <article data-layout="pad-md">
        <h3>PARTNERS</h3>
        <div class="m-partners">
            <div data-aos="fade-zoom-in" data-aos-offset="0"><img src="assets/img/partners/adjust.png" alt="Adjust"></div>
            <div data-aos="fade-zoom-in" data-aos-offset="0" data-aos-delay="150"><img src="assets/img/partners/axonix.png" alt="Axonix"></div>
            <div data-aos="fade-zoom-in" data-aos-offset="0" data-aos-delay="300"><img src="assets/img/partners/inmobi.png" alt="Inmobi"></div>
            <div data-aos="fade-zoom-in" data-aos-offset="0" data-aos-delay="450"><img src="assets/img/partners/nexage.png" alt="Nexage"></div>
            <div data-aos="fade-zoom-in" data-aos-offset="0" data-aos-delay="600"><img src="assets/img/partners/rubicon.png" alt="Rubicon"></div>
            <div data-aos="fade-zoom-in" data-aos-offset="0" data-aos-delay="750"><img src="assets/img/partners/smaato.png" alt="Smaato"></div>
            <div data-aos="fade-zoom-in" data-aos-offset="0" data-aos-delay="900"><img src="assets/img/partners/sparkflow.png" alt="Sparkflow"></div>
            <div data-aos="fade-zoom-in" data-aos-offset="0" data-aos-delay="1050"><img src="assets/img/partners/tune.png" alt="Tune"></div>
            <div data-aos="fade-zoom-in" data-aos-offset="0" data-aos-delay="1200"><img src="assets/img/partners/wayra.png" alt="Wayra"></div>
        </div>
    </article>
</section>

<section class="section-primary">
    <article data-layout="pad-lg">
        <h3 data-aos="fade-up" data-aos-delay="50">INNOVATE MOBILE AD TECHNOLOGY</h3>
        <hr data-aos="fade-up" data-aos-delay="50">
        <p data-aos="fade-up" data-aos-delay="50">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum neque, asperiores, molestias, eveniet eius assumenda nisi dolores, optio quibusdam recusandae omnis aspernatur expedita. Officiis, eaque temporibus sunt nobis tempore!
            <br />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum neque, asperiores, molestias, eveniet eius assumenda nisi dolores, optio quibusdam recusandae omnis aspernatur expedita. Officiis, eaque temporibus sunt nobis tempore. Lorem ipsum dolor sit amet!
        </p>
        <hr data-aos="fade-up" data-aos-delay="50">
        <p data-aos="fade-up" data-aos-delay="50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum neque, asperiores, molestias, eveniet eius assumenda nisi dolores, optio quibusdam recusandae omnis aspernatur expedita. Officiis, eaque temporibus sunt nobis tempore!</p>
    </article>
</section>

<section class="home-map section-secondary">
    <article class="home-map-img">
        <figure>
            <img src="assets/img/mapa.png" alt="Contact">
            <figcaption class="ui-relative">
                <h4>Bv. San Juan 736</h4>
                <p><small>+540 11 5263 2130 - cordoba@winclap.com</small></p>
            </figcaption>
        </figure>
    </article>
</section>
