<section class="home-first section-secondary">
    <article data-layout>
        <div class="home-first-wrapper">
            <div>
                <h1 class="ui-margin-auto m-logo m-logo--big bounce animated">
                    <img src="assets/img/logo.svg" alt="Winclap">
                </h1>
                <rotate></rotate>
                <p class="bounce animated">We deliver real-life rewards in cherry-picked games <br>
                    and apps using top-notch DSP technology. <br>
                    And users love it.</p>
            </div>
        </div>
    </article>
</section>

<section>
    <article>
        <parallax></parallax>
    </article>
</section>

<section>
    <article>
        partner
    </article>
</section>

<section>
    <article>
        mapa
    </article>
</section>

<section>
    <article data-layout>
        WinClap's awesome technology combines every data point like, device, geo, carrier, behavior, audience, and delivers your rewards to the right user. That user that will bring more revenue and is more likely to be loyal to your site, app or brand. Our algorithm constantly optimizes every reward we deliver based on the last conversion point, like in app event for apps, sales for e-commerce or engagement for branding campaigns. <br>
        <canvas id="canvas" width="1140" height="650" class="wow fadeInUp animated"></canvas>
    </article>
</section>
