/* -----------------------------------------------
    Logotipo
-------------------------------------------------- */

.m-logo {
    font-size: 0;

    > img {
        @extend %ui-full-width;
    }

    &--big {
        @extend %ui-margin-auto;
        @extend %ui-margin-top-sm;
        @extend %ui-margin-none-bottom;

        max-width: 360px;
    }

    &--small {
        max-width: 180px;
        padding-top: 24px;

        @include mq('tablet', max) {
            max-width: 125px;
            padding: 12px 10px;
        }
    }
}
