/* -----------------------------------------------
    Rotate
-------------------------------------------------- */

.m-rotate {
    &:before {
        content: '[ ';
        font-weight: 100;
    }

    &:after {
        content: ' ]';
        font-weight: 100;
    }

    span {
        @include font-source(null, torem(32px), 500);

        text-transform: uppercase;
    }
}
